@model int
<div class="row">
    <div class="col">
        <button class="btn btn-primary form-control" type="submit" asp-route-id="@Model">Edit</button>
    </div>
    <div class="col">
        <a class="btn btn-success" asp-action="Index" >Back to List</a>
    </div>
</div>